.App {
  /* text-align: center; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

.card {
  width: 300px; 
  margin-Top: 10px; 
  padding-bottom: 1%;
  font-Weight: bold; 
  font-Size: 3em; 
  text-Align: center
}

.menuButton{
  color: rgb(40,122,36)
}



@media only screen and (min-width : 1001px) {
  .menuButton {
    display: none !important
  }
  
}

@media only screen and (max-width : 1000px) {
  .search {
    width : 50% !important;
    float: none !important;
    margin-right: auto !important;
    margin-left: auto !important
  }
  .nameButton {
    display: none !important;
  }
  .mainDiv {
    margin-top: 18% !important
  }
  .secondLastDiv {
    display: none !important
  }
  .lastDiv {
    flex-direction: column;
    height: 40vh !important;
    align-items: flex-start !important;
    padding-left: 7%
  }
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
